.bo{
  background-color: #fff;
}
.nav-item{
background:black;
}

.na{
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  font-family:  "Times New Roman", Times, serif;
  background: black;
  box-sizing: border-box;
  border-color: black;
  border: 50px;
}

.container .jumbotron{
  margin-top:90px;
  background:white;
  color: black;
}
/*
.jumbotron1{
  margin-top:90px;
  background: #1bd11b;
  color: red;
  font-family: sans-serif;
  font-size: 20px;
  right: -500px;
  padding: 20px;
  margin-bottom: 50px;
  border: 20px;
  position: absolute;
  width: 550px;
  height: 500px;
  top: -1px;
  left: 60%;

}
*/
.bol{
  background: #111;
  color: red;
  border-color: white;
  border: 15px;
  height: 20px;
  

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300vh;
  border-radius: 10px;
  box-sizing: border-box;
}

.container{
  position: relative;
display: flex;
justify-content: center;
align-items: center;
padding: 40px 0;
flex-wrap: wrap;
 font-size: 1.1em;
}




.container .box{
  position: absolute;
  width: 390px;
  height: 600px;
  color: #fff;
  background-color: #1bd11b;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
  transition: 0.5s;
 font-size: 1.5em;
 left: 320px;
 top: 70px;
}


.container .box:hover{
  transform: translateX(-20px);
  background-color: red;
}


.container .box::before{
  transform: translateY(-20px);
  position: absolute;
  top: 0;
  left: 1000px;
  width: 100%;
  height: 300%;.
 font-size: 1.1em;
   background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
}



.container .box::after{
  content: '';
  position: left;
  top: 0;
  width: 1000%;
  height: 500%;
  background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
  filter: blur(30px);
   font-size: 7.1em;
   left: -100px;
}



.container .box .jumbotron1{
  position: relative;
  z-index: 10;
  padding: 20px 40px;
 font-size: 10em;

 margin-top:90px;
  color: red;
  font-family: sans-serif;
  font-size: 20px;
  right: -400px;
  padding: 20px;
  margin-bottom: 10px;
  border: 20px;
  position: absolute;
  width: 450px;
  height: 500px;
  top: -1px;
  left: -10%;
}



.container .box .jumbotron1 li{
  font-size: 1.1em;
  color: #fff;
  line-height: 1.4em;
}



.gallery{
   position:relative;
  height:281px;
  width:450px;
  margin:0 auto;
}

.gallery img{
  
    position:absolute;
  left:-300px;
  right: 100px;
  width: 470px;
  height: 500px;
  top: 100px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  box-shadow: 15px 15px 15px 20px #1bd11b;

}

.gallery img.top:hover{
  opacity: 0;
  animation: glow 1s infinite alternate


}






.one{
   margin: 15px;
        padding: 15px;
        display: flex;
        height: 10vh;
        justify-content: center;
        align-items: center;
        font-family: sans-serif;
        font-size: 20px;
        position: left 10px;
        font-weight: bold;

}

a {
        padding: 5px 5px;
        display: inline-block;
        color: #000;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 15px;
        overflow: hidden;
        font-weight: bold;
         font-family: sans-serif;

}


a:hover {
        color: #fff;
        background: #FF0000;
        box-shadow: 0 0 50px #FF0000;

    }


.welcome{
  font-size: 70px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px   #FF0000, 0 0 20px   #FF0000, 0 0 30px #00e600, 0 0 40px #00e600, 0 0 50px #00e600, 0 0 60px #00e600, 0 0 70px #00e600;
  }
  to {
    text-shadow: 0 0 20px   #FF0000, 0 0 30px #39ff14, 0 0 40px #39ff14, 0 0 50px #39ff14, 0 0 60px #39ff14, 0 0 70px #39ff14, 0 0 80px #39ff14;
  }
}


.copyright{
  font-size:30px;
  padding: 510px 350px 28px 45px;
  display: inline;
  top: -50%;
  position: relative;

}
.proj{
  background-color: #000;
  background: black;
  box-sizing: border-box;
  border-color: black;
  border: 50px;

}
section{
  background-color: #000;

}


