<!DOCTYPE html>


{%load static%}
<link rel = "stylesheet" href="{% static 'css/style.css' %}">
<body style="font-size:50px; background-color: white">

<div class ="jumbotron" align = "center">
    <h1 style="font-size:50px; color: black">welcome to Data Structure exams</h1>
</div>
  
 <style type="text/css">
        body{
            background-image: url("{% static 'image/datast.png' %}");
            background-repeat: no-repeat;
            color: white;
            border-radius: 80%;
            background-size: 70%;
            background-position: center 50px;
        }
         table{
             background-color: lightgrey;
        }
    </style>  
    <table class="table table-bordered" style="color:black; border: 10px solid black; font-size:30px; display: table; position: center;" align="center" >
  <thead>
    <tr>
      <th scope="col">S No.</th>
      <th scope="col">SUBJECT</th>
      <th scope="col">EXAM CODE</th>
      <th scope="col">DATE OF EXAMINATION</th>
      <th scope="col">.</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Data Structure</td>
      <td>IT7800</td>
      <td>23-03-21</td>
        <td> <button onclick="myFunction()" style="margin-left:30%;" >start exam</button></td>
<script>
function myFunction() {
  location.replace("http://127.0.0.1:8000/start/")
}
</script>
    </tr>
  </tbody>
</table> 
</div>  
    <a href="{% url 'home' %}" style="color:black; display: inline;">back</a>
  {% if request.user.is_authenticated is True %}
    <li><a href = '/accounts/logout'>logout
        </a></li>
    {% else %}
    <h2>you are not logged in</h2>
    {% endif %}
</body>